body {
    margin-left: 2px;
    padding: 0px;
    /* background: url(bg.jpg) no-repeat center center fixed; */
    /* background-size: cover; */
}
.container{
    position: relative;
    padding-top: 0px;
}

 /* .second {
    /* border: 2px solid green; */
    /* margin-left: 2px; */
    /* background: none; */
    /* margin-top: 8px;  */

 /* }   */
#sec{
    margin-top:50px;
    background-position:center;
    height: 335px;
    background-size: cover;
    opacity:1.5;    
} 
#first{
    position: absolute;
    bottom: 20px;
    right: 20px;
    /* background-color: black; */
    /* color: white; */
    padding-left: 20px;
    padding-right: 20px;
} 
#name{
    text-shadow:-6px 1px 5px  #c76844;

}
#tag{
    text-shadow:4px 2px 5px rgb(40, 126, 155) ;
}
#firstletter::first-letter{
    font-size: 64px;
    color: #800035;
    font-weight: bolder;

}
#firstletter::first-line{
    font-variant-caps: unicase;
}
::selection{
    background-color: hotpink;
}

.scroll {
    /* border: 2px solid black; */
    width: 100%;
    height: 670px;
    font-size: 21px;
    margin-top: 10px;
    margin-left: 2px;
}

section h1 {
    font-weight: bold;
    font-size: 66px;
}

.box {
    width: 263px;
    height: 270px;
    display: inline-block;
    margin-left: 292px;
}

#img{
    width: 247px;
    height: 245px;
}

.items {
    margin: 23px;
    height: 208px;
    margin-left: 84px;
}
    
h3 {
    margin-bottom: 20px;
}
